{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">Restablecer Contraseña</h2>
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="id_email" class="form-label"
                >Correo Electrónico</label
              >
              <input
                type="email"
                name="email"
                class="form-control"
                required
                id="id_email"
              />
            </div>
            <button type="submit" class="btn btn-primary">
              Enviar Instrucciones
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
